{% extends 'base.html.twig' %}

{% block title %}Edit Pot{% endblock %}

{% block body %}
    <h1>Edit Pot</h1>

    {{ include('pot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pot_index') }}">back to list</a>

    {{ include('pot/_delete_form.html.twig') }}
{% endblock %}
