{% extends 'base.html.twig' %}

{% block title %}New Pot{% endblock %}

{% block body %}
    <h1>Create new Pot</h1>

    {{ include('pot/_form.html.twig') }}

    <a href="{{ path('pot_index') }}">back to list</a>
{% endblock %}
