<!-- =========================================================
* Argon Dashboard PRO v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard-pro
* Copyright 2019 Creative Tim (https://www.creative-tim.com)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
 -->
<!DOCTYPE html>
<html>

{% include "inc/head.html.twig" %}

<body>
<!-- Sidenav -->
{% include "inc/sidenav.html.twig" %}
<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Topnav -->
    {% include "inc/nav.html.twig" %}
    <!-- Header -->
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                {% block header %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt-1">
        {% block body %}{% endblock %}
    </div>
</div>
<!-- Argon Scripts -->
<!-- Argon Scripts -->
{% include "inc/end.html.twig" %}
{% block js %}
{% endblock %}
</body>

</html>