{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'errors.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>It looks like this doesn't work</h1>
        <div class="card">
            <div class="card-body bg-primary rounded text-white">
                <i class="far fa-grin-beam-sweat fa-8x"></i>
            </div>
        </div>
    </div>
{% endblock %}